.sripe-card-errors, .StripeElement--invalid {
  color: red;
}

.StripeElement {
  border: 1px solid #ccc;
  font-size: 0.929em;
  margin: 2px 0;
  padding: 4px;
  max-width: 100%;
  box-sizing: border-box;
}

.StripeElement--invalid {
  border: 2px solid red;
}
